$loginBackColor: rgb(74, 82, 103);
$loginBackImg: url('../img/cover.png');

@font-face {
    font-family: colorEmojiFont;
    src: local("Noto Color Emoji"), local("Apple Color Emoji"), local("Segoe UI Emoji");
    unicode-range: U+1F300-1F5FF, U+1F900-1F9FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF, U+2700-27BF, U+2300-23FF, U+1F000-1F02F, U+1F100-1F1FF, U+1F20-1F2FF, U+2122, U+2139, U+FE00-FE0F;
}
@font-face {
    font-family: tickFont;
    src: local("Microsoft YaHei"), local(sans-serif);
    unicode-range: U+221a;
}
@font-face {
    font-family: numberFont;
    src: local("PingFangSC-Regular"), local(sans-serif);
    unicode-range: U+0030-0039;
}

$fontfamily: tickFont, numberFont, colorEmojiFont, "Microsoft YaHei", sans-serif, "PingFangSC-Regular";


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: black;
  font-family: $fontfamily;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}


p, input, button {
  // margin: 5px 0;
  outline: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rong-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.rong-login {
  background-image: $loginBackImg;
  background-size: cover;
  background-color: $loginBackColor;
  min-width: 1000px;
  min-height: 760px;
  z-index: 10;
  .rong-login-systemTips {
    clear: both;
    text-align: left;
    color: #fff;
    font-size: 14px;
  }
  .rong-copyright {
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 13px;
  }
  .rong-copyright p:nth-child(1){
    display: inline-block;
  }
  .rong-copyright p:nth-child(2){
    display: inline-block;
    margin-left: 50px;
  }
  .rong-login-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
  }
  .rong-login-logo {
    height: 120px;
  }
  .rong-login-title {
    font-size: 32px;
    margin-top: 0;
    color: white;
  }
  .rong-login-input {
    display: block;
    margin: 40px 0 0 0;
    padding: 10px 20px;
    width: 100%;
    height: 48px;
    border: 1px #DDDDDD solid;
    border-radius: 40px;
    background-color: white;
    text-align: left;
    font-size: 15px;
    color: #777;
    box-sizing: border-box;
  }
  .rong-login-input::-webkit-input-placeholder {
    color: #999;
  }
  .rong-opt-stream {
    margin: 30px 0;
  }
  .rong-opt-checkbox + .rong-opt-checkbox {
    margin: 0 0 0 20px;
  }
  .rong-opt-checkbox {
    display: inline-block;
    text-align: left;
    position: relative;
    margin: 0 20px 0 0;
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"]:checked + label::after {
      content: '\2714';
      position: absolute;
      top: 0;
      left: 0;
      padding: 1px 0 0 0;
      font-size: 20px;
      line-height: 19px;
      width: 100%;
      height: 100%;
    }
    label {
      vertical-align: middle;
      background-color: white;
      border-radius: 5px;
      padding: 8px;
      display: inline-block;
      position: relative;
    }
    span {
      margin-left: 5px;
      font-size: 14px;
      color: white;
    }
  }
  .rong-btn-start {
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: 1px rgb(40, 214, 246) solid;
    background: rgb(40, 214, 246);
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
  }
  .rong-btn-start:disabled {
    background-color: rgb(71, 81, 99);
    border: rgb(71, 81, 99);
    cursor: default;
  }
  .rong-opt-resolution {
    position: absolute;
    right: 180px;
    top: 50px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(../img/setting.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    margin-bottom: 3px;
  }
  .rong-opt-resolution:hover .rong-resolution-wrap {
    display: block;
  }
  .rong-resolution-wrap {
    display: none;
    position: absolute;
    width: 190px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 35px;
    cursor: default;
    .rong-resolution-content {
      background-color: white;
      padding: 5px 15px 55px 15px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      font-size: 15px;
      border-top: 4px solid rgb(31, 192, 248);
    }
    .rong-resolution-arrow {
      width: 0px;
      height: 0px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent rgb(31, 192, 248) transparent;
      position: absolute;
      top: 15px;
      left: 50%;
      transform: translate(-50%);
    }
    .rong-resolution-title {
      font-size: 16px;
      margin: 5px 0 10px 0;
      font-weight: normal;
    }
    ul {
      margin-top: 15px;
    }
    ul li {
      margin: 6px 0;
    }
    input[type="radio"] {
      display: none;
    }
    label {
      position: relative;
      width: 13px;
      height: 13px;
      display: inline-block;
      border: 1px solid #adb8c0;
      border-radius: 50%;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px
          rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1),
          inset 0px 0px 10px rgba(0, 0, 0, 0.1);
      vertical-align: middle;
    }
    input[type="radio"]:checked + label:after {
      content: '';
      width: 11px;
      height: 11px;
      border-radius: 50px;
      position: absolute;
      background: #6CBF1B;
      left: 1px;
      top: 1px;
      font-size: 32px;
    }
    span {
      margin: 3px 45px 3px 5px;
      vertical-align: middle;
    }
  }
}

.rong-rtc {
  overflow: hidden;
  .rong-rtc-btn {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(1, 1, 1, 0.6);
    cursor: pointer;
  }
  .rong-rtc-opt {
    position: absolute;
    top: 0;
    height: 53px;
    line-height: 53px;
    width: 100%;
    background-color: #4E6CAA;
    z-index: 10;
    color: white;
    text-align: left;
    font-size: 14px;
    box-sizing: border-box;
    padding: 0 20px;
    text-align: center;
    .rong-user-title {
      float: left;
    }
    .rong-time-title {
      position: absolute;
      left: 255px;
    }
    .rong-rtc-btn {
      float: right;
      position: relative;
      border: none;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 13px;
    }
    .rong-rtc-btn:disabled {
      cursor: none;
      pointer-events: none;
      opacity: 0.6;
    }
    .rong-opt-hangup {
      background-color: #e86262;
      background-image: url(../img/hangup.png);
      border: 1px solid #e86262;
    }
    .rong-opt-share {
      background-image: url('../img/share.png');
    }
    .rong-opt-share-closed {
      background-image: url('../img/share-close.png');
      // background-color: white;
    }
    .rong-opt-camera-opened {
      background-image: url('../img/video-disable.png');
    }
    .rong-opt-camera-closed {
      background-image: url('../img/video-enable.png');
    }
    .rong-opt-mic-opened {
      background-image: url('../img/audio-disable.png');
    }
    .rong-opt-mic-closed {
      background-image: url('../img/audio-enable.png');
    }
    .rong-opt-wb {
      background-image: url('../img/wb.png');
    }
  }
  .rong-wb-box {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: black;
    .rong-wb-close {
      width: 24px;
      height: 24px;
      line-height: 24px;
      position: absolute;
      top: 10px;
      right: 30px;
      border-radius: 4px;
      z-index: 30;
      background-image: url('../img/whiteboard_close.png');
      cursor: pointer;
    }
    .rong-whiteboard {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 20;
      background-color: black;
    }
  }
}
.rong-stream-wrap {
  position: absolute;
  top: 53px;
  bottom: 0;
  width: 100%;
  .rong-stream-content {
    width: 100%;
    height: 100%;
  }
  .rong-stream-list {
    max-width: 100%;
    height: 165px;
    background-color: transparent;
    z-index: 3;
    margin-top: calc(100vh - 165px - 70px);
  }
  .rong-stream-box {
    float: left;
    width: 120px;
    height: 100%;
    background-color: black;
    margin: 0 15px;
    position: relative;
    z-index: 15;
    border: 1px solid rgb(184, 189, 196);
    overflow: hidden;
    .rong-video {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    .rong-user-name {
      display: none;
      position: absolute;
      right: 5px;
      top: 5px;
      margin: 0;
      font-size: 13px;
      padding-right: 3px;
      color: white;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 60%;
      text-shadow: 0px 2px 4px #000;
      z-index: 20;
    }
    .rong-rtc-cover {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
    }
    .rong-cover-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
      p {
        display: none;
        width: 100%;
        font-size: 17px;
        background-color: white;
      }
    }
    .rong-audio-cover img {
      width: 75px;
    }
    .rong-share-cover img {
      transform: translateY(15%);
      width: 100px;
    }
    .rong-stream-opt {
      position: absolute;
      bottom: 4px;
      width: 100%;
      z-index: 10;
      text-align: left;
      padding: 0 6px;
      box-sizing: border-box;
    }
    .rong-opt-btn {
      width: 24px;
      height: 28px;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;
    }
    .rong-opt-video {
      background-image: url('../img/video-enable.png');
    }
    .rong-opt-audio {
      background-image: url('../img/audio-enable.png');
    }
  }
  .rong-stream-box:hover .rong-user-name {
    display: inline-block;
  }
  .rong-is-self {
    .rong-video {
      transform: rotateY(180deg);
    }
    .rong-user-name {
      display: inline-block;
    }
  }
  .rong-is-zoom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    z-index: 12;
    video {
      // object-fit: cover;
      transform: rotateY(180deg);
    }
    .rong-cover-content {
      p {
        display: block;
      }
    }
    .rong-audio-cover img {
      width: 160px;
    }
    .rong-share-cover img {
      width: 220px;
      transform: translateY(25%);
    }
    .rong-stream-opt {
      text-align: center;
      margin-bottom: 10px;
    }
    .rong-opt-btn {
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      width: 45px;
      height: 45px;
      background-position: center;
      margin: 0 25px;
    }
    .rong-user-name {
      font-size: 18px;
    }
  }
  .rong-video-close {
    .rong-audio-cover {
      display: block;
    }
  }
  .rong-video-self-close {
    @extend .rong-video-close;
    .rong-audio-cover .rong-audiocover-title-other {
      display: none;
    }
    .rong-audiocover-title {
      display: block;
    }
    .rong-opt-video {
      background-image: url('../img/video-disable.png');
    }
  }
  .rong-audio-self-close {
    .rong-opt-audio {
      background-image: url('../img/audio-disable.png');
    }
  }
  .rong-video-other-close {
    @extend .rong-video-close;
    .rong-audio-cover .rong-audiocover-title {
      display: none;
    }
    .rong-audiocover-title-other {
      display: block;
    }
  }
  .rong-video-other-close.rong-video-self-close {
    @extend .rong-video-close;
    .rong-audio-cover .rong-audiocover-title {
      display: none;
    }
    .rong-audiocover-title-other {
      display: block;
    }
  }
  .rong-screenshare-open .rong-share-cover{
    z-index: 12;
    display: block;
  }
}

.rong-alert-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  .rong-alert {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    min-height: 174px;
    border: 1px solid rgb(224, 227, 225);
    border-radius: 5px;
    background-color: white;
    padding: 10px 20px;
    box-shadow: rgb(72, 72, 72) 1px 2px 30px 0px;
  }
  .rong-alert-title {
    font-size: 15px;
  }
  .rong-alert-content {
    text-align: center;
    font-size: 16px;
    margin: 40px 0;
  }
  .rong-alert-btn-box {
    text-align: right;
    input[type="button"] {
      font-size: 12px;
      display: inline-block;
      min-width: 72px;
      height: 30px;
      border: 1px solid rgb(165, 165, 165);
      border-radius: 20px;
      margin-left: 8px;
      background-color: white;
      cursor: pointer;
    }
    input[type="button"] + input[type="button"] {
      border: none;
      background-color: rgb(78, 108, 170);
      color: white;
    }
  }
}

.rong-btn-loading {
  width: 100%;
  height: 50px;
  border-radius: 40px;
  border: 1px #28d6f6 solid;
  background: #28d6f6;
  font-size: 15px;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
  line-height: 50px;
  img {
    width: 22px;
    margin: 0 5px 0 -5px;
    position: absolute;
    left: 151px;
    top: 14px;
  }
}
.rong-login-telverify {
  .rong-login-sms-tip {
    color: #fff;
    font-size: 15px;
    margin-bottom: -20px;
  }
  .rong-login-telNum {
    display: block;
    margin: 40px 0;
    padding: 10px 20px;
    width: 100%;
    height: 48px;
    border: 1px #DDDDDD solid;
    border-radius: 40px;
    background-color: white;
    text-align: left;
    font-size: 15px;
    color: #777;
    box-sizing: border-box;
  }
  .rong-login-verifyBtn {
    float: right;
    width: 33%;
    height: 50px;
    border: 1px #28d6f6 solid;
    background: #28d6f6;
    border-radius: 40px;
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
  }
  .rong-login-verifyBtn:disabled {
    border: 1px #475163 solid;
    background: #475163;
  }
  .rong-login-verifyCode {
    display: block;
    float:left;
    padding: 10px 20px;
    width: 60%;
    height: 48px;
    border: 1px #DDDDDD solid;
    border-radius: 40px;
    background-color: white;
    text-align: left;
    font-size: 15px;
    color: #777;
    box-sizing: border-box;
  }
  .rong-btn-verifyLogin {
    float: left;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-radius: 40px;
    border: 1px #28d6f6 solid;
    background: #28d6f6;
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
  }
}