<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SealRTC IE v3.1.0</title>
  <link rel="stylesheet" href="./css/main.min.css">
  <link rel="icon" href="./img/icon.png" type="image/x-icon" />

  <!-- 配置文件 -->
  <script src="setting.js"></script>

  <script src="lib/vue-2.6.7.js"></script>
  <script src="lib/vue-router-3.0.2.js"></script>
  <!-- <script src="../dist/RongRTC-IE.3.0.4.js"></script> -->
  <script src="./lib/RongRTC-IE.3.0.4.js"></script>
  <!-- <script src="./lib/protobuf-2.3.6.min.js"></script> -->
  <script src="./lib/RongIMLib-2.5.1.js"></script>
  
  <script src="js/common/promise.js"></script>
  <script src="js/common/utils.js"></script>
  <script src="js/common/common.js"></script>
  <script src="js/common/service.js"></script>

  <script src="js/main.js"></script>
  <script src="js/login.js"></script>
  <script src="js/rtc.js"></script>
  
  <!-- 登录页面模板 -->
  <script id="rong-template-login" type="text/x-template">
    <div class="rong-wrap rong-login">
      <div class="rong-login-content">
      <img class="rong-login-logo" src="./img/logo.png" alt="">
      <h3 class="rong-login-title">SealRTC v3.1.0</h3>

      <div v-if="isVerifing" class="rong-login-telverify">
        <p class="rong-login-sms-tip">请输入手机号验证登录，目前只支持中国区</p>
        <input class="rong-login-telNum rong-login-verify-input" type="text" autocomplete="off" placeholder="手机号" v-model="phone">
        <div class="rong-login-codeline">
          <input class="rong-login-verifyCode rong-login-verify-input" type="number" autocomplete="off" placeholder="手机验证码" v-model="verifyCode">
          
          <input v-if="smsTime" class="rong-login-verifyBtn" type="button" v-model="smsTime" disabled="disabled">
          <input v-else class="rong-login-verifyBtn" type="button" v-model="sendCodeText" @click="sendSMS">
        </div>
        <input class="rong-btn-verifyLogin rong-btn-start" type="button" value="验证登录" :disabled="!isCanStart" @click="verify">
      </div>
      <div v-else class="rong-login-roomjoin">
        <input class="rong-login-input" type="text" autocomplete="off" placeholder="请输入会议室 ID" v-model="roomId" @keyup.13="login">
        <input maxlength="8" class="rong-login-input" type="text" autocomplete="off" placeholder="请输入用户名称" v-model="userName" @keyup.13="login">
        <input class="rong-login-input" type="text" autocomplete="off" placeholder="手机号" v-model="phone" @keyup.13="login">
        <div class="rong-opt-stream">
          <div class="rong-opt-checkbox">
            <input type="radio" name="userOption" value="closeVideo" :checked="mode===Mode.Audio" @click="mode = mode === Mode.Audio ? Mode.Normal : Mode.Audio">
            <span>音频模式</span>
          </div>
          <div class="rong-opt-checkbox">
            <input type="radio" name="userOption" value="bystander" :checked="mode===Mode.Bystander" @click="mode = mode === Mode.Bystander ? Mode.Normal : Mode.Bystander">
            <span>旁听者模式</span>
          </div>
        </div>
        <div v-if="isLoading" class="rong-btn-loading">
          <img src="./img/loading.gif"> <span>正在加入</span>
        </div>
        <input v-else class="rong-btn-start" type="button" value="开始会议" :disabled="!isCanStart" @click="login">
      </div>
      <!-- <div class="rong-login-systemTips">
        <p>注：需使用 IE 10、IE 11 浏览器</p>
      </div> -->
    </div>
    <div class="rong-opt-resolution">
      <div class="rong-resolution-wrap">
        <div class="rong-resolution-content">
          <i class="rong-resolution-arrow"></i>
          <h5 class="rong-resolution-title">通话设置</h5>
          <ul>
            <li>分辨率</li>
            <li v-for="resolutionContent in resolutionList">
              <input type="radio" autocomplete="off" :checked="isResolutionSelected(resolutionContent)">
              <label @click="selectResolution(resolutionContent.key)"></label>
              <span>{{resolutionContent.value}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="rong-copyright">
      <p lang-textContent="copyright">Copyright 2019 RongCloud</p>
      <p lang-textContent="copyrightRecord">京 ICP 备 15042119 号-1</p>
    </div>
    </div>
  </script>


  <script id="rong-template-rtc" type="text/x-template">
    <div class="rong-wrap rong-rtc">
      <div class="rong-rtc-opt">
        <span class="rong-rtc-title rong-user-title">用户名: {{userName}}</span>
        <span class="rong-rtc-title rong-room-title">会议室 ID: {{roomId}}</span>
        <span class="rong-rtc-title rong-time-title" v-if="roomTimer.time">通话时长: {{roomTime}}</span>
        <button class="rong-rtc-btn rong-opt-hangup" title="挂断" @click="hungup"></button>
        <button v-if="isScreenSharing" class="rong-rtc-btn rong-opt-share-closed rong-share-openicon" title="关闭屏幕共享" @click="startScreenshare"></button>
        <button v-else class="rong-rtc-btn rong-opt-share rong-share-openicon" title="打开屏幕共享" @click="startScreenshare"></button>
        <button v-if="isCameraOpened" class="rong-rtc-btn rong-opt-camera-closed rong-share-openicon" title="关闭摄像头" @click="handleCamera"></button>
        <button v-else class="rong-rtc-btn rong-opt-camera-opened rong-share-openicon" title="打开摄像头" :disabled="!isCameraAvailable" @click="handleCamera"></button>
        <button v-if="isMicOpened" class="rong-rtc-btn rong-opt-mic-closed rong-share-openicon" title="关闭麦克风" @click="handleMic"></button>
        <button v-else class="rong-rtc-btn rong-opt-mic-opened rong-share-openicon" title="打开麦克风" :disabled="!isMicAvailable" @click="handleMic"></button>
        <!-- <a class="rong-rtc-btn rong-opt-userlist rong-opt-usericon" lang-title="userlist"></a> -->
      </div>
      <div class="rong-stream-wrap">
        <object class="rong-stream-content" id="EngineComponent" width=640 height=480 classid="CLSID:369C2ABD-E339-42C8-B302-9652E3936E28"></object>
        <!-- <div class="rong-stream-content" id="EngineComponent" width=640 height=480 classid="CLSID:369C2ABD-E339-42C8-B302-9652E3936E28"></div> -->
      </div>
    </div>
  </script>
</head>
<body>
  <div id="RongSeal" class="rong-main">
    <router-view></router-view>
  </div>
</body>

<script>
  // 方法定义见: js/main.js
  RongSeal.init({
    el: '#RongSeal'
  })
</script>
</html>
